<div class="about-me h-card">

	<div class="media-body">
		<h4><a href="{{ base_url == '' ? '/' : base_url }}" class="p-name u-url">{{ aboutme_name }}</a></h4>
		{% if config.plugins.aboutme.show_title -%}
			<h3>{{ aboutme_title }}</h3>
		{%- endif %}
		<div class="p-note">{{ aboutme_description|nl2br|markdown|raw }}</div>
		{% if config.plugins.aboutme.social_pages.enabled %}
			<div class="social-pages">
			{% for page in aboutme_pages %}
				{% if page.url|length %}
					<a href="{{ page.url }}" {{ page.title ? 'title="' ~ page.title ~ '"' }} target="_blank" rel="me" class="u-url"><i class="fa fa-{{ page.icon }}"></i></a>
				{% endif %}
			{% endfor %}
			</div>
		{% endif %}
	</div>
</div>
