        <!-- Available App  Start-->
        <div class="available-app-area">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-5 col-lg-6">
                        <div class="app-caption">
                            <div class="section-tittle section-tittle3">
                                <h2>Our App Available For Any Device Download now</h2>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fug.</p>
                                <div class="app-btn">
                                    <a href="#" class="app-btn1"><img src="{{ url("theme://assets/img/shape/app_btn1.png") }}" alt=""></a>
                                    <a href="#" class="app-btn2"><img src="{{ url("theme://assets/img/shape/app_btn2.png") }}" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="app-img">
                            <img src="{{ url("theme://assets/img/shape/available-app.png") }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Shape -->
            <div class="app-shape">
                <img src="{{ url("theme://assets/img/shape/app-shape-top.png") }}" alt="" class="app-shape-top heartbeat d-none d-lg-block">
                <img src="{{ url("theme://assets/img/shape/app-shape-left.png") }}" alt="" class="app-shape-left d-none d-xl-block">
            </div>
        </div>
        <!-- Available App End-->